/*SEGUNDA SECCIÓN*/
#segundoContenedor
{
    background-image: url("../images/slider-1.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 768px;
    
}

#subSegundoContenedor
{
    display: inline-block;
    background-size: 100%;
    margin-top: 254px;
    margin-left: 101px;
    height: fit-content;
}
.botones
{
    margin-top: 30px;
    left: 101px;
    width: 144px;
    height: 48px;
    background: #E0752F 0% 0% no-repeat padding-box;
    color: #FFFFFF;
    border-radius: 25px;
    border-color: #E0752F 0% 0% no-repeat padding-box;;
    opacity: 1;

}
h1
{
    top: 254px;
    left: 101px;
    width: 554px;
    height: 115px;
    text-align: left;
    font: normal normal 600 48px/48px Poppins;
    letter-spacing: 0.67px;
    color: #FFFFFF;
    opacity: 1;

}
#informacionBanner
{
    top: 399px;
    left: 101px;
    width: 343px;
    height: 42px;
    text-align: left;
    font: normal normal medium 16px/21px Roboto;
    letter-spacing: 0.22px;
    color: #FFFFFF;
    opacity: 1;
}

/*TERCERA SECCIÓN*/
#tercerContenedor
{  
    background-size:auto ;
    width: 100%;
    height: 672px;
    display: flex;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1; 

}

#tercerContenedor #subPTercerContenedor
{
    margin-top: 144px;
    margin-bottom: 144px;
    width: 32px;
    height: 384px;
    align-self: flex-start;
    background: #E0752F 0% 0% no-repeat padding-box;
    opacity: 1;
}

#subSTercerContenedor
{
    margin-top: 167px;
}
#subSTercerContenedor #subTituloPTercerContenedor
{
    margin-left:299px;
    top: 935px;
    left: 299px;
    width: 402px;
    height: 100px;
    text-align: left;
    font: normal normal 600 39px/45px Poppins;
    letter-spacing: 0.55px;
    opacity: 1;
}

#subSTercerContenedor #subTituloSTercerContenedor
{
    color: #E0752F;
}


#subParrafoTercerContenedor
{
    margin-left:299px;
    height: fit-content;
    font-size: auto;
    width: 768px;
    height: 197px;
    text-align: left;
    font: normal normal normal 16px/28px Roboto;
    letter-spacing: 0.22px;
    color: #343434;
    opacity: 1;
}

/*CUARTA SECCIÓN */


#cuartoContenedor
{
    position: relative;
    z-index: 1;
    left: 0px;
    background-size:auto ;
    width: 100%;
    height: 768px;
    background-color: #F2F4F1;
    
}
.cuadroPlomo
{
    position: absolute;
    z-index: 2;
    left: 968px;
    width: 398px;
    height: 768px;
    background-color: #DCE1DA;
    opacity: 1;
}
#imagenContenedor
{
    position: absolute;
    background-image: url("../images/section3-image.png");
    z-index: 3;
    top: 112px;
    left: 200px;
    width: 966px;
    height: 552px;
}
#contenedorTexto
{
    position: absolute;
    z-index: 4;
    background-color: #E0752F;
    left: 495px;
    top: 248px;
    width: 471px;
    height: 304px;
}
#contenedorTexto #textoSed
{
    position: absolute;
    top: 68px;
    left: 50px;
    padding-right: 10%;
    font-size: 16px;
    text-align: left;
    letter-spacing: 0.22px;
    font: normal normal medium 16px/21px Roboto;
    color: #FFFFFF;
    opacity: 1;

}
#contenedorTexto #textoNemo
{
    position: absolute;
    top: 83px;
    left: 50px;
    width: 229px;
    height: 21px;
    font-size: 39px;
    text-align: left;
    letter-spacing: 0.22px;
    letter-spacing: 0.55px;
    color: #FFFFFF;
    opacity: 1;

}
#contenedorTexto #textParrafo
{
    position: absolute;
    font-size: 16px;
    top: 157.5px;
    left: 50px;
    width: 372px;
    height: 63px;
    text-align: left;
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0.22px;
    color: #FFFFFF;
    opacity: 1;
}

#contenedorTexto #flechaD
{
    position: absolute;
    background-image: url("../images/Icon\ feather-arrow-right-circle.png");
    top: 253px;
    left: 401.7px;
    width: 22px;
    height: 22px;
}
#contenedorTexto #flechaI
{
    position: absolute;
    background-image: url("../images/Icon\ feather-arrow-left-circle.png");
    top: 253px;
    left: 371.3px;
    width: 22px;
    height: 22px;
}

/*QUINTO SECCIÓN*/

#quintoContenedor
{
    position: relative;
    z-index: 1;
    left: 0px;
    background-size:auto ;
    width: 1366px;
    height: 768px;
    background-size:auto ;
    opacity: 1;
    background-color: #FFFFFF;
}

#cuadroImagenCaminata
{
    position: absolute;
    z-index: 2;
    background-image: url("../images/section4-image.png");
    left: 596px;
    width: 770px;
    height: 768px;
}

#comboTexto
{
    position: absolute;
    background-color: aquamarine;
    z-index: 3;
    top: 144px;
    left: 101px;
    width: 669px;
    height: 192px;
}

/*SEXTA SECCIÓN*/
#sextaContenedor
{
    position: relative;
    z-index: 1;
    left: 0px;
    width: 1366px;
    height: 768px;
    background-size:auto ;
    opacity: 1;
    background-color: #FFFFFF;
}
#cuadroImagenGlobo
{
    position: absolute;
    z-index: 3;
    background-image: url("../images/contact-image.png");
    top: 3168px;
    left: 671px;
    bottom: 176px;
    width: 594px;
    height: 400px;

}
#titulosFormulario
{
    position: absolute;
    z-index: 4;
    top: 3096px;
    left: 101px;
    width: 285px;
    height: 100px;
    text-align: left;
    
}

#tituloGet
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 245px;
    height: 55px;
    font: normal normal 600 39px/45px Poppins;
    text-align: left;
    color: #343434;
    letter-spacing: 0.55px;
    opacity: 1;
}
#tituloWe
{
    position: absolute;
    top: 45px;
    left: 0px;
    width: 285px;
    height: 55px;
    text-align: left;
    font: normal normal 600 39px/45px Poppins;
    letter-spacing: 0.55px;
    color: #E0752F;
}
#formulario
{
    position: absolute;
    z-index: 5;
    left: 101px;
    top: 3271px;
    width: 471px;
    height: 345px;
}

#floatingTextarea2
{
    height: 100px
} 

